@import "tailwindcss";


@layer base {
  :root {
    @apply font-sans leading-normal font-normal;
    color-scheme: light dark;
    @apply text-white/87 bg-[#242424];

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply font-medium text-[#646cff] no-underline hover:text-[#535bf2];
  }

  body {
    @apply m-0 flex items-center min-w-[320px] min-h-screen;
  }

  h1 {
    @apply text-[3.2em] leading-[1.1];
  }

  button {
    @apply rounded-lg border border-transparent px-[1.2em] py-[0.6em] text-base font-medium 
           bg-[#1a1a1a] cursor-pointer transition-[border-color] duration-250 
           hover:border-[#646cff] focus:outline-[4px] focus:outline-[#646cff];
  }
}

@layer components {
  .card {
    @apply p-8;
  }

  #app {
    @apply max-w-[1280px] mx-auto p-8 text-center;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547] bg-white;
  }

  button {
    @apply bg-[#f9f9f9];
  }
}